$main-color: #ff8b80;

.profile {
  background-color: $main-color;
  border: 1px solid $main-color;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
}
.profile p {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

